body{
	--accent-color:#35495e;
	--background-color:#42b88e;
	--text-color:#35495e;
	--transition-delay:1s;
	transition: var(--transition-delay);
	background-color: var(--background-color) !important;
	color:var(--text-color);
}

body.ruby-theme{
	--accent-color:#820c02;
	--background-color: #fff;
	--text-color:#820c02;
	transition: var(--transition-delay);
	background-color: var(--background-color) !important;
	color:var(--text-color);
}

.nav-link{
	background-color:var(--background-color);
	color:var(--text-color);
	transition: var(--transition-delay);
}

.nav-link:hover{
	background-color:var(--text-color);
	color:var(--background-color);
}

.vue{
	opacity:1;
}

.rails{
	opacity:0;
}

.ruby-theme .vue{
	opacity:0;
}

.ruby-theme .rails{
	opacity:1;
}

/*
.theme-toggle-button{
	background-color: var(--background-color) !important;
	color:var(--text-color) !important;
	transition-duration: var(--transition-delay);
	transform: scale(1);
	cursor: pointer;
	padding: 5px;
	border-radius: .3em;
	border:none;
	outline:none;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus{
	background-color: var(--text-color) !important;
	color:var(--background-color) !important;
	transform: scale(1.1);
}
*/