body{
    background:lightblue ;
}

#navbar{
	height: 9vh;
	width: 100%;
	background-color: blue;
}

#navbar a{
	display: inline-block;
	text-decoration: none;
	color: lightblue;
	padding: 0 15px;
	line-height: 9vh;
}

#navbar a:hover{
	background-color: lightblue;
	color: blue;
	transition-duration: 200ms;
}